
* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #77787a;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.centrado-mas-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.centrado-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margen-tarjetas {
  margin: 10px;
}

.tarjeta {
  background-color: rgb(2, 2, 2);
  border: 2px solid rgb(250, 249, 249);
  border-radius: 20px;
  padding: 15px;
  transition: 0.3s;
}

.img-tarjeta {
  width: 300px;
  border-radius: 10px;
}

 .titulo-tarjeta {
  max-width: 300px;
} 

.boton-tarjeta {
  background-color: #1f2633;
  border-radius: 15px;
  padding: 5px;
  color: white;
}


/* .tarjeta-boton:hover {
  cursor: pointer;
} */

.nav {
  background-color: #77787a;
  height: 100px;
}

.nav-items:hover {
  background-color: rgb(146, 145, 145);
  border-radius: 15px;
  color: #1f2633;
}

.footer {
  background-color: #77787a;
  height: 150px;
}

.footer,
a {
  color: rgb(240, 235, 235);
  text-decoration: none;
  padding: 10px;
}

.red-social {
  display: inline-block;
  font-size: 25px;
}

.red-social:hover {
  background-color: rgb(146, 145, 145);
  border-radius: 15px;
  color: #1f2633;
}

.panel-home {
  background-color: rgb(245, 240, 240);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
} 

.panel-mas-info :hover {
  background-color: rgb(146, 145, 145);
  border-radius: 15px;

}

.items-panel-home {
  border-top: 1px solid rgb(8, 8, 8);
}

.titulo-panel {
  background-color: #000002;
  color: rgb(252, 249, 249);
  padding: 10px;
  text-align: center; 
}


.fondo-detalle-tarjeta {
  width: 100%;
  max-height: 1000px;
  position: absolute;
  overflow: hidden;
}

.tamanio-imagen-detalle {
  width: 400px;
}

.tamanio-descripcion-detalle {
  max-width: 700px;
  background-color: #c4aeae70;
  padding: 8px;
  border-radius: 10px;
}

.relative {
  position: relative;
  overflow: hidden;
}

.panel-mas-info {
  color: #1f2633;
}

.boton-busqueda {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  border: none;
  border-radius: 15px;
  width: 200px;
  margin-top: 25px;
}

.carrousel-home {
  height: 500px;
}

.carrousel-imagen {
  background-position: center center;
  background-attachment: fixed;
}

.componentes-home {
  margin-top: 35px;
}

@media (max-width: 1000px) {
  .panel-home {
    width: 300px;
  }

  .nav-items {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
  }
} 

@media (max-width: 360px) {
  .mav-items {
    font-size: 14px;
  }
} 